// HTML TAGS
body {
    height:100%;
}

html {
    height:77%;
}

td {
    max-width: 200px;
    word-wrap:break-word;
}

thead th {
    float:left;
    padding: 100px 10px;
}

tr:after {   /* IE8 fix */
    content: ".";
    margin-left: -3px; /* to hide the content above tr */ /* not necessary if you are ok with 1px gap */
    visibility: hidden;
}

// CLASS

.centered {
    margin-top: 10px;
    text-align: center;
} 

.headertext {
	color: #5F5F5F;
} 

.notSelect {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.page-header {
	position: relative;
	text-align: center;
	width: 100%;
	padding: 7px;
    background-color: #F4F7FF;
}

.btn-primary {
    vertical-align: middle;
    display:inline-block;
	min-width: 100px;
    width: 100px;
	text-align: center;
}

.btn-alert {
  
    width: 120px;
	text-align: center;
}


.subHeader {
	font-weight:normal;
	color: #5F5F5F;
	letter-spacing:0pt;
	word-spacing:2pt;
	font-size: 19px;
	text-align:left;
	font-family:arial, helvetica, sans-serif;
	margin-bottom: 3px;
}

.pwinput {
	min-width: 200px;
}

.userInput {
	min-width: 200px;
}

// ID

#changePWtable {
	top: 50px;
	background-color: #000000;
}

#container {
    height: 100%;
}

#exercises {
	min-width: 75%;
	max-width: 75%;
	margin-left: 250px;
}

#forgotpassword {
	position: absolute;
	padding-left: 95px;
	padding-top: 50px;
}

#floorImage{
	float:right;
	
}

#header {
    background-color: #F4F7FF;
    border-style: groove;
    border-color: #000000;
    margin: 0px;
    padding: 0px;   
    text-align: center;
    width: 50%;
    float: top;
    margin-left: 25%
}

#histlogo {
	float: left;
	height: 200px;
	width: 200px;	
}

#login {
  margin-left: 20px;
  margin-top: -35px;
  float:left;
}

#loginbutton {
	position: absolute;
	padding-left: 100px;
}

#loginfo {
	font-style: italic;
}

#loginlogo {
	left: 30%;
	position: absolute;
    top: 180px;
}

#loginTable {
	min-width: 200px;
	
}

#menu {
    font-family: arial;
    background-color: #F4F7FF;
    float: left;
    min-height: 290px;
	min-width: 120px;
    padding-top: 20px;
    text-align: center;
    border-style: double;
    border-color: #CAC9CC;
	z-index: 1000;
}

#password {
	margin-left: 250px;
	left:3%;
	z-index: 1;
}

#queueDiv, #queueButtonDiv{
    float:left;
    margin-left: 100px;
    min-height: 100%;
    width: 850px;
	margin-bottom: 5px;
}

#queuelink {
	
}

#queueTable{
    position: absolute;
    display: block;
    width:1000px;
    height: 500px;
    table-layout: fixed;
}


#queueTable tbody {
    float:left;
    display:block;
    overflow-y: auto;
    height: 400px;
    padding: 0px 0px;
}

#slider{
    position: relative;
    z-index: 10;
    float:right;
    margin-right:30px;
}

#inputSlider{
    z-index: 20;
}

#td1{
    width:70px; 
    max-width: 70px;
}
#td2{
    width:130px; 
    max-width: 130px;
}
#td3{
    width:255px; 
    max-width: 255px;
}
#td4{
    width:100px; 
    max-width:100px;
}
#td5{
    width:330px; 
    max-width:330px;
}

#username {
	
}

#approved {
	background-color: limegreen;
}

#notApproved {
	color: red;
}

#changePWtable {
	position: fixed;
	top: 260px;
}

#changePWButton {
	margin-top: 10px;
}

#userDiv {
	margin-left: 250px;
	max-height: 572px;
}

#singleDiv {
	position: relative;
	top: -530px;
	left: 550px;
}

#single {
	margin-top: 10px;
}

#subjectDropdown {
	width:401px;
}

#multiDiv {
	border-right: 1px solid black;
}

#separator {
    border-left: 1px solid #38546d;
    background: #16222c;
    width: 1px;
    height: 500px;
    position: absolute;
    left: 733px;
    top: 210px;
}

#tdSubject {
	border-right: 1px solid #CCC;
}

#mydiv {
	min-width: 380px;
	width: 380px;
	border: 1px solid #CCC;
}

#exercisesTable {
	border-bottom: 1px solid black;
}
